.nomargin {
    margin: 0;
}
.nopadding {
    padding: 0;
}

/* 嵌入app */

.app #navbar {
    display: none !important;
}
.app #sidebar {
    display: none !important;
}
.app #breadcrumbs {
    display: none !important;
}
a:hover {
    cursor: pointer;
}
.app .page-content {
    padding-left: 0;
    padding-right: 0;
}
.inlineInput {
    display: inline-block;
    width: 100%;
    max-width: 160px;
}
.has-error input[type="text"], .has-error input[type="password"] {
    border-color: #f00;
}
.form-group h5 {
    margin: 0;
}
.table-responsive {
    overflow-y: auto;
}
.control-label {
    white-space: nowrap;
}
input[readonly]:hover {
    cursor: pointer;
}

/* 过渡 */

.fade-enter-active {
    transition: opacity 0.5s
}
.fade-enter, .fade-leave-active {
    opacity: 0
}
.bounce-enter-active {
    animation: bounce-in 0.75s;
}
@keyframes bounce-in {
    0% {
        transform: scale(0);
    }
    33% {
        transform: scale(1); 
    }
    66% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}
.dd-item button {
    line-height: 1px;
    outline: none;
}
.dd {
    max-width: 1980px;
}
.selectMenu {
    width: 100%;
    position: absolute;
    left: 0;
    top: 30px;
    background: #fff;
    z-index: 10;
    max-height: 300px;
    overflow-y: auto;
}
.sysSelect {
    height: 45px;
    line-height: 45px;
    background: #5db7e9;
    padding: 0 10px;
    position: relative;
    margin-left: 6px;
}
.sysSelect a {
    color: #fff;
}

/* 上传样式 */

.dropzone {
    border: 1px solid rgba(0, 0, 0, .03);
    min-height: 360px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: rgba(0, 0, 0, .03);
    padding: 23px;
    text-align: center;
    margin-bottom: 15px;
}
.dropzone .dz-default.dz-message {
    top: 50%;
    margin-top: -61.5px;
    height: 123px;
    position: absolute;
}
.dropzone .dz-preview, .dropzone-previews .dz-preview {
    background: rgba(255, 255, 255, .8);
    position: relative;
    display: inline-block;
    margin: 17px;
    vertical-align: top;
    border: 1px solid #acacac;
    padding: 6px 6px 6px 6px;
}
.dropzone .dz-preview .dz-details, .dropzone-previews .dz-preview .dz-details {
    width: 100px;
    height: 100px;
    position: relative;
    background: #ebebeb;
    padding: 5px;
}
.dz-error-mark {
    position: absolute;
    width: 40px;
    height: 40px;
    font-size: 30px;
    text-align: center;
    right: -15px;
    top: -15px
}
.dz-size {
    line-height: 30px;
}
.dropzone a.dz-remove, .dropzone-previews a.dz-remove {
    display: block;
    padding: 4px;
}
.pointer {
    cursor: pointer;
}
.user-info {
    max-width: 200px;
}

/* 分页 */
.pagination input {
    width: 30px;
    margin: 3px;
}
.dataTables_wrapper input[type=password] {
    margin-bottom: 0 !important;
    margin:0 4px;
}
@media screen and (max-width:480px) {
    .sysSelect li {
        text-align: right;
    }
}
@media only screen and (max-width: 640px) {
    .hidden-640 {
        display: none !important;
    }
}
@media screen and (min-width: 768px) {
    .little {
        width: 80px;
    }
}
@media screen and (min-width: 992px) {
    .little {
        width: 110px;
    }
}
@media screen and (min-width: 1200px) {
    .little {
        width: 140px;
    }
}